<h1>Heores <small>Nombre del heroe</small></h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button type="button" class="btn btn-danger" routerLink="/heroes"><i class="fa fa-arrow-left"></i>Regresar</button>

    </div>
</div>

<div class="row">
    <div class="col">
        <form (ngSubmit)="save( formulario )" #formulario="ngForm">
            <div class="form-group">
                <label class="">Firebase ID</label>
                <input class="form-control" type="text" disabled="disabled" placeholder="Firebase ID" [(ngModel)]="heroe.id" name="id">
                <small class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label class="">Nombre</label>
                <input class="form-control" type="text" placeholder="Nombre del heroe" required [(ngModel)]="heroe.nombre" name="nombre">
            </div>
            <div class="form-group">
                <label class="">Poder</label>
                <input class="form-control" type="text" placeholder="Poder del heroe" required [(ngModel)]="heroe.poder" name="poder">
            </div>
            <div class="form-group">
                <label class="">Estado</label>
                <br>
                <button type="button" class="btn btn-outline-success w-50" *ngIf="heroe.vivo" (click)="heroe.vivo = false"><i class="fa fa-smile-wink"></i> Vivo</button>
                <button type="button" class="btn btn-outline-danger w-50" *ngIf="!heroe.vivo" (click)="heroe.vivo = true"><i class="fa fa-dizzy"></i> KO</button>
            </div>
            <hr>
            <div class="form-group text-center">
                <button class="btn btn-primary w-25" type="submit">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>

            </div>
        </form>
    </div>
</div>